{% extends 'base.html.twig' %}

{% block title %}Mon panier - Vincent LHMTE Art{% endblock %}

{% block content %}
<div class="cart-container">
        <nav aria-label="Breadcrumb" class="breadcrumb">
            <ul>
                <li><a href="{{ path('products') }}">Galerie</a></li>
                <li><span aria-current="page">Mon panier</span></li>
            </ul>
        </nav>

        <h1>Mon panier</h1>
        <p>Retrouvez l'ensemble des produits que vous avez ajouté à votre panier.</p>
    
    

    {% if cart|length >0 %}
    <table class="cart-tab">
        <thead>
            <tr class="cart-desc">
                <th scope="col">Produit</th>
                <th scope="col"></th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix</th>
                <th scope="col">Total</th>
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody>
        {% set total = null %}
        {% set totalQuantity = null %}
        {% for product in cart %}
            <tr class="cart-desc">
                <td>
                    <img src="/uploads/boardimg/{{product.product.illustration }}" alt=" {{product.product.name}}" class="cart-img"><br/>
                </td>
                <td>
                    {{product.product.name}} <br/>
                    <small>{{ product.product.subtitle}}</small>
                </td>

                <td>
                    <a href="{{ path('decrease_to_cart', { 'id': product.product.id }) }}">
                        <img src="{{ asset('assets/img/moins.png') }}" alt="Supprimer une quantité à mon produit" height="12px">
                    </a>
                    {{product.quantity}}
                    <a href="{{ path('add-to-cart', { 'id': product.product.id }) }}">
                        <img src="{{ asset('assets/img/plus.png') }}" alt="Ajouter un produit" height="12px">
                    </a>
                </td>

                <td>{{ (product.product.price / 100)|number_format(2,',','.') }} €</td>
                <td>{{ ((product.product.price * product.quantity) / 100)|number_format(2,',','.') }} €</td>
                <td>
                    <a href="{{ path('delete-to-cart', { 'id': product.product.id }) }}">
                        <img src="{{ asset('assets/img/delete.png') }}" alt="Supprimer mon produit" height="18px">
                    </a>
                </td>
            </tr>

            {% set total = total + (product.product.price * product.quantity) %}
            {% set totalQuantity = totalQuantity + product.quantity %}
        {% endfor %}
        </tbody>
    </table>

    <div class="cart-total">
        <p><b>Nombre de produits :{{ totalQuantity }}</b> </p>
        <p><b>Total de mon panier : {{ (total / 100)|number_format(2,',','.') }} €</b> </p>   
        <a href="{{ path('order') }}" class="admin-btn cart-btn">Valider mon panier</a>
    </div>
    {% else %}
        <p class="cart-tab"><b>Votre Panier est vide</b></p>
        <div class="admin-btn"><a href="{{ path('products') }}" class="admin-btn">Accéder à la galerie</a></div>
        
    {% endif %}
</div>
{% endblock %}
