{% extends 'base.html.twig' %}

{% block title %}Gérer mes adresses - Vincent LHMTE Art{% endblock %}

{% block content %}

    <h1>Gérer mes adresses</h1>
    
    <a href="{{ path('account_address') }}" class="link-underline mb15">Retourner à mon compte</a>
    
    {{ form_start(form) }}
        <div class="login-form">

            {{form_row(form.name)}}

            <div class="form-name">
                {{form_row(form.lastname)}}
                {{form_row(form.firstname)}}
            </div>

            {{form_row(form.company)}}
            {{form_row(form.address)}}
            {{form_row(form.postal)}}
            {{form_row(form.city)}}
            {{form_row(form.country)}}
            {{form_row(form.phone)}}
            
        </div>
    {{ form_end(form) }}

{% endblock %}