{% extends 'base.html.twig' %}

{% block title %}Se connecter - Vincent LHMTE Art{% endblock %}

{% block content %}

<div class="login-container">
    <nav aria-label="Breadcrumb" class="breadcrumb">
        <ul>
            <li><a href="{{ path('home') }}">Bio</a></li>
            <li><span aria-current="page">Connexion</span></li>
        </ul>
    </nav>

    <h1>Merci de vous connecter</h1>
    <form method="post">
        {% if error %}
            <div class="text-alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% for message in app.flashes('notice') %}
            <div class="text-alert"> {{ message }}</div>
        {% endfor %}

        {% if app.user %}
            <div class="">
                Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Deconnexion</a>
            </div>
        {% endif %}

        <div class="login-form account-form">
                <label for="inputEmail" placeholder="Votre adresse email">Votre email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                <label for="inputPassword" class="mt-3">Votre mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="Votre mot de passe" required>
        
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            
                <button type="submit">
                    Se connecter
                </button>
        </div>

        <p><a href="{{ path('reset_password')}}" class="login-link">Mot de passe oublié</a> ?</p>
        <p>Ou souhaitez-vous <a href="{{ path('register')}}" class="login-link">créer un compte ?</a></p>
    </form>
</div>

{% endblock %}
