{% extends "base.html.twig" %}

{% block carousel %}{% endblock %}

{% block content %}

        {# <!-- Three columns of text below the carousel -->
        <h3>Nos meilleurs ventes</h3>
        <p>Decouvrez les articles les plus vendus.</p>
        <div class="row">
            {% for product in products %}
                <div class="col-md-3">
                    {% include "product/single_product.html.twig" %}
                </div>
            {% endfor %}   
        </div>#}

        <div class="container-home">
            <div>
                <h2>Découvrez les œuvres d’art abstrait de Vincent Lhmte</h2>
                <p>Vincent l’Hermite est un artiste peintre français talentueux. Son style s’est développé comme abstrait géométrique, voulant transmettre diverses émotions aux travers de ses tableaux, il compose des peintures abstraites unique marquées par des formes géométrique, du relief, une palette de couleurs très pigmentée et une douce musicalité. La lumières, les effets d’optique et le mouvement sont devenus des thèmes récurrents dans ses premières œuvres à l’acrylique.</p>
            </div>
            <div>
                <img src="{{ asset('assets/img/vincent.jpg')}}" width="600px" alt="photo de l'artiste peintre Vincent LHMTE">
            </div>

            <p class="quote">« L’inspiration me vient des formes, des textures et couleurs de l’environnement qui m’entoure. »</p>

            <div class="container-description">
                <div class="card-description">
                    <h2>Background</h2>
                    <p>Vincent L’Hermitte est un artiste peintre Français vivant à Paris. Né à Dinan, il développe durant son adolescence une grande sensibilité artistique. Au cours de l’année 2020, il s’est découvert une passion et un talent pour la peinture et l’art abstrait, produisant de nombreuses œuvres étonnantes.</p>
                </div>
                <div class="card-description">
                    <h2>Inspiration</h2>
                    <p>A chaque nouvelle peinture, Vincent répond à l’appel de la créativité. Influencé par l’univers qui l’entour, son style s’est développé comme impressionniste, voulant transmettre diverses émotions aux travers de ses tableaux. La lumières, les effets d’optique et le mouvement sont devenus des thèmes récurrents dans ses premières œuvres à l’acrylique.</p>
                </div>
                <div class="card-description">
                    <h2>Style</h2>
                    <p>Son style s’est développé comme abstrait géométrique, voulant transmettre diverses émotions aux travers de ses tableaux, il compose des peintures abstraites marquées par des formes géométrique, du relief, une palette de couleurs très pigmentée et une douce musicalité.</p>
                </div>
            </div>

            <div class="square-paint-container">
                <img src="{{ asset('assets/img/miami.png') }}" alt="Tableau d'art abstrait Miami">
                <img src="{{ asset('assets/img/sunlights.jpg') }}" alt="Tableau d'art abstrait Sunlights">
                <img src="{{ asset('assets/img/labyrinth.png') }}" alt="Tableau d'art abstrait Labyrinth">
            </div>

            <div class="zoomed-paint-container">
                <img src="{{ asset('assets/img/fluctus.png') }}" alt="Tableau d'art abstrait Fluctus">
                <img src="{{ asset('assets/img/puzzle.png') }}" alt="Tableau d'art abstrait Puzzle">
            </div>
            <img src="{{ asset('assets/img/primary.png') }}" alt="Tableau d'art abstrait Primary">
            
            <a href="{{ path('products') }}" class="add-cart home-cta">accéder à la galerie</a>
            

            <div class="">
                <h2>Les retours clients</h2>
                <div class="card-reviews">
                    <p>“J’ai la chance d’avoir l’un des chefs-d’œuvre de Vincent accroché fièrement sur mon mur. C’est l’une de ces pièces qui capte l’attention de la plupart des gens lorsqu’ils entrent dans ma maison. Le talent et la connaissance de l’art de Vincent sont inspirants, il surpasse ses pairs avec sa compréhension de la profondeur et de la couleur, et crée toujours des tableaux originaux et différents à chaque fois. Je suis tellement reconnaissant d’être propriétaire d’une œuvre d’art de Vincent LHMTE.”</p>
                    <p>- JULIEN LEPENNEC</p>
                </div>
                <div class="card-reviews">
                    <p>“J’ai la chance d’avoir l’un des chefs-d’œuvre de Vincent accroché fièrement sur mon mur. C’est l’une de ces pièces qui capte l’attention de la plupart des gens lorsqu’ils entrent dans ma maison. Le talent et la connaissance de l’art de Vincent sont inspirants, il surpasse ses pairs avec sa compréhension de la profondeur et de la couleur, et crée toujours des tableaux originaux et différents à chaque fois. Je suis tellement reconnaissant d’être propriétaire d’une œuvre d’art de Vincent LHMTE.”</p>
                    <p>- PIERRE BUSNEL</p>
                </div>
            </div>


            <div>
                <h2>Venez découvrir mes oeuvres à une exposition</h2>
                <p class>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div>
                <img src="{{ asset('assets/img/exposition.png') }}" alt="" width="600px">
            </div>

        </div>

        <!-- /END THE FEATURETTES -->

{% endblock %}