{% extends 'base.html.twig' %}

{% block title %}{{ product.name }} - Vincent LHMTE Art{% endblock %}

{% block content %}
    <div class="ariane">
        <nav aria-label="Breadcrumb" class="breadcrumb">
            <ul>
                <li><a href="{{ path('products') }}">Galerie</a></li>
                <li><span aria-current="page">{{ product.name }}</span></li>
            </ul>
        </nav>
    </div>
    <div class="single-product-container">
        <div class="product-image-container">
                <div class="img-product">
                    <img src="/uploads/boardimg/{{ product.illustration }}" id="current" alt="{{ product.name }}" class="single-product-img" width="400px" height="550px">
                </div>

                <div class="product-image-galerie">
                    <img src="/uploads/boardimg/{{ product.illustration }}" class="thumbnail" alt="{{ product.name }}" width="85px" height="85px">
                    <img src="/uploads/boardimg/{{ product.illustration2 }}" class="thumbnail" alt="{{ product.name }}" width="85px" height="85px">
                    <img src="/uploads/boardimg/{{ product.illustration3 }}" class="thumbnail" alt="{{ product.name }}" width="85px" height="85px">
                </div>
        </div>

        <div class="single-product-description">
            <h2>{{ product.name }} </h2>
            <p> {{ product.description }}</p>

            <p>Dimensions : {{ product.subtitle }}</p>
            <p>Peinture acrylique sur toile sur châssis entoilé en lin. Prête à être accrochée.</p>
            <hr>
            <div class="product-page-price">
                <span>{{ (product.price / 100)|number_format(2, ',', '.') }} €</span>
                <a href="{{ path('add-to-cart', { 'id': product.id })}}" class="admin-btn">Ajouter au panier</a>
            </div>
        </div>
    </div>

    {# Bandeau des Meilleurs ventes #}
    {# <hr>
    <h3>Nos meilleurs ventes</h3>
    <p>Decouvrez les articles les plus vendus.</p>
    <div class="">
        {% for product in products %}
            <div class="">
                {% include "product/single_product.html.twig" %}
            </div>
        {% endfor %}
    </div> #}

    {% block javascript %}
        <script>
            //Script Galerie Photos
            const current = document.getElementById('current');
            const thumbnails = document.querySelectorAll('.thumbnail');
            
            //Opacité pour voir la vignette select
            thumbnails[0].style.opacity = 0.6;
            //Boucle sur les vignettes
            for (let i = 0; i < thumbnails.length; i++){
            thumbnails[i].addEventListener('click', show);
            };

            function show() {
            thumbnails.forEach(function (img){
                img.style.opacity = 1;
            })
            //Swich source current image
            let imgSource = this.getAttribute('src');
            current.setAttribute('src', imgSource);

            //Effet fade in
            current.classList.add('fade-in');
            this.style.opacity = 0.6;
            setTimeout (function (){
                current.classList.remove('fade-in');
            },300);
            }
        </script>
    {% endblock %}
{% endblock %}