<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Vincent LHMTE Art">
        <meta name="author" content="Allan Ls">
        <title>{% block title %}Vincent LHMTE Art{% endblock %}</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
        <link rel="icon" href="{{ asset('assets/img/logo-nav.png') }}" alt="logo navigateur Vincent LHMTE Art"/>
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    </head>
    <body>
        <header>

            <nav role="navigation">
                <div class="menuToggle">
                    <input type="checkbox" />
                    <span></span>
                    <span></span>
                    <span></span>
                    <ul class="menu">
                        <li><a href="{{ path('home') }}">Bio</a></li>
                        <li><a href="{{ path('products') }}">Galerie</a></li>
                        <li><a href="{{ path('exhibitions') }}">Expositions</a></li>
                        <li><a href="{{ path('contact') }}">Contact</a></li>
                    </ul>
                </div>
            </nav>

            {# Navigation : Login, Logout, Cart #}
            <div class="cart-link">
                {# Si User connecté, on affiche Mon compte #}
                {% if app.user %}
                    <a href="{{ path('account') }}"><img src="{{ asset('assets/img/account.png') }}" class="account-logo" alt="Logo account">
                        <span class="account-link">Mon compte </span>
                        <small>({{app.user.firstname}})</small>
                    </a> 
                    | 
                    <a href="{{ path('app_logout') }}"><img src="{{ asset('assets/img/logout1.png') }}" class="account-logo" alt="Logo account">
                        <span class="account-link">Déconnexion</span>
                    </a>
                    
                {# Si User non connecté, on affiche Connexion - Inscription #}
                {% else %}
                    <a href="{{ path('app_login') }}">Connexion</a> | <a href="{{ path('register') }}">Inscription</a>
                {% endif %}
                <a href="{{ path('cart') }}">
                    <img src="{{ asset('assets/img/shopping-bag.png') }}" class="cart-icon" alt="Mon panier" width="21px" height="21px">
                </a>
            </div>

        </header>

        <main role="main">
            <div class="title"><a href="{{ path('home') }}">VINCENT LHMTE ART</a></div>

            <div class="container"> 
                {% block content %}
                {% endblock %}
            </div>
        </main>

        
        <footer>
            <a href="https://www.instagram.com/vincent_lhmte_art/" target="_blank">
                <img src="{{ asset('assets/img/instagram.svg') }}" alt="logo instagram" height="25px" with="25px">
            </a>
            <div class="footer-nav">
                <a href="{{ path('mentions') }}">mentions légales</a> &middot; <a href="{{ path('cgv') }}">cgv</a></small>
            </div>
            <p>Copyright © 2022 Vincent Lhmte Art - L'art abstrait géométrique</p>
        </footer>

        
        {% block javascript %}{% endblock %}
        {% block script %}{% endblock %}
        <script src="{{ asset('assets/js/index.js') }}"></script>
    </body>
</html>