{% extends 'base.html.twig' %}

{% block javascript %}
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block title %}Valider ma commmande - Vincent LHMTE Art{% endblock %}

{% block content %}
    <h2>Mon récapitulatif</h2>
    <p>Vérifier vos informations avant de payer votre commande.</p>
    <hr>
    <div class="carrier-container">
        <div class="carrier-card">
            <div class="recap-card">
                <strong>Mon addresse de livraison</strong><br>
                <div class="form-check">
                    {{ delivery|raw }}
                </div>
            </div>
            <div class="recap-card">
                <strong>Transporteur</strong><br>
                <div class="form-check">
                    {{ carrier.name }} <br/>
                    {{ carrier.description }} <br/>
                    {{ (carrier.price / 100)|number_format(2,',','.') }} €
                </div>
            </div>
        </div>
        <div class="">
            <div class="">
                <h6>Ma commande</h6>
            </div>
            <div class="order-summary">
            {% set total = null %}
                {% for key,product in cart %}
                    <div class="cart-recap">
                        <div>
                            <img src="/uploads/boardimg/{{product.product.illustration }}" alt=" {{product.product.name}}" class="cart-img">
                        </div>
                        <div>
                            {{product.product.name}} <br>
                            Quantité : {{ product.quantity }} <br>
                            {{ ((product.product.price * product.quantity) / 100)|number_format(2,',','.') }} €
                            {# <small>{{ product.product.subtitle}}</small><br> #}
                        </div>
                        <div class="col-3 my-auto">
                        </div>
                    </div>
                {% set total = total + (product.product.price * product.quantity) %}
                {% endfor %}
            </div>
            <div class="sub-total">
                <div>
                    <strong>Sous-Total : </strong> {{ (total / 100)|number_format(2,',','.') }} €<br>
                    <strong>Dont TVA 20% : </strong> {{ ((total / 100)*0.2)|number_format(2,',','.') }} €<br>
                    <strong>Livraison : </strong> {{ (carrier.price / 100)|number_format(2,',','.') }} €<br>
                    <strong>Total TTC : </strong> {{ ((total / 100) + (carrier.price / 100))|number_format(2,',','.') }} €
                </div>
                <div>
                    <a class="admin-btn" id="checkout-button">Payer |  {{ ((total / 100) + (carrier.price / 100))|number_format(2,',','.') }} €</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        var stripe = Stripe("pk_test_51KFR0mHqxOSDg3YdPlmjOtzVX8flgW0EmxRTmIEuS0VzCOj1RUnRRgoLNIhSK0ozeSujfq0Re717ewLQajtngjDi00cp5IbT82");
        var checkoutButton = document.getElementById("checkout-button");
        checkoutButton.addEventListener("click", function() {
            fetch("/commande/create-session/{{ reference }}", {
                method: "POST",
            })
                .then(function(response) {
                    return response.json();
                })
                .then(function(session) {
                    if (session.error == 'order') {
                        window.location.replace('{{ path('order') }}');
                    } else {
                        return stripe.redirectToCheckout({ sessionId: session.id });
                    }
                })
                .then(function(result) {
                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(function (error) {
                    console.error("Error:", error);
                });
        });
    
    </script>
{% endblock %}