{% extends 'base.html.twig' %}

{% block title %}Options de livraison - Vincent LHMTE Art{% endblock %}

{% block content %}
<div class="cart-container">
    <nav aria-label="Breadcrumb" class="breadcrumb">
        <ul>
            <li><a href="{{ path('products') }}">Galerie</a></li>
            <li><a href="{{ path('cart') }}">Mon panier</a></li>
            <li><span aria-current="page">Options de livraison</span></li>
        </ul>
    </nav>
    <h1>Options de livraison</h1>
    <p>Choisissez vos préférences avant de passer votre commande sur Vincent LHMTE Art</p>

    <div class="carrier-container">
        <div>
            {% set formHtml %}
                {{ form_start(form, {action:path('order_recap')}) }}
                    {{ form_label(form.addresses, 'Choisissez votre adresse de livraison')}}
                    <a href="{{ path('account_address_add') }}" class="link-underline">Ajouter une nouvelle adresse</a>
                {{ form_end(form) }}
            {% endset %}

            {{ formHtml|replace({'[br]' : '<br/>'})|raw }}
        </div>
        <div>
            <div>
                <b>Aperçu de mon panier</b><br/>
                <p>Retrouver le récapitulatif de votre panier</p>
            </div>
            <div class="order-summary">
                {% for key,product in cart %}

                    <div class="cart-recap">
                        <div>
                            <img src="/uploads/boardimg/{{product.product.illustration }}" alt=" {{product.product.name}}" class="cart-img">
                        </div>
                        <div>
                            {{product.product.name}} <br/>
                            {{ (product.product.price / 100)|number_format(2,',','.') }} € <br/>
                           {# Description : <small>{{ product.product.subtitle}}</small> #}
                           Quantité : {{ product.quantity }}
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
